<div class="container-fluid" style="margin-top: -40px">
     <form [formGroup]="recipeFrm" (ngSubmit)="createRecipe(recipeFrm)">
          <button *ngIf="ce" class="btn btn-success" type="submit" [disabled]="recipeFrm.invalid">Save</button>
          <button *ngIf="!ce" class="btn btn-success" type="button" (click)="editRecipe()" [disabled]="recipeFrm.invalid">Save</button>
          <button class="btn btn-danger">Cancel</button>
          <div class="form-group">
               <label for="name">Name</label>
               <input id="name" class="form-control" type="text" formControlName="name">
          </div>
          <div class="form-group">
               <label for="imgURL">Image URL</label>
               <input id="imgURL" class="form-control" type="text" formControlName="imageURL" (keyup)="urlPress($event)">
          </div>
          <img [src]="url" alt="" class="col-6 p-0">
          <div class="form-group">
               <label for="description">Description</label>
               <textarea id="description" class="form-control" formControlName="description" rows="5"></textarea>
          </div>
          <div class="col-12 p-0" formArrayName="ingredients">
               <div *ngFor="let ingredient of ingredients.controls; let i = index">
                    <div [formGroupName]="i" class="d-flex col-12 p-0">
                         <div class="flex-fill d-flex">
                              <div class="form-group col-8 p-0">
                                   <input id="name" class="form-control" type="text" formControlName="name">
                              </div>
                              <div class="form-group col-4">
                                   <input id="quantity" class="form-control" type="number" formControlName="quantity">
                              </div>
                         </div>
                         <button class="btn btn-danger align-self-start" type="button" (click)="delfield(i)">X</button>
                    </div>
               </div>
          </div>
          <br>
          <button class="btn btn-success" (click)="addIngredient()" type="button">Add Ingredient</button>
     </form>
</div>